{% extends 'layout.html.twig' %}

{% block content %}
    {% block grid %}
        <h1>Grid</h1>

        {% for y, row in grid.cells %}
            <div id="row-{{ y }}">
                {% for x, value in row %}
                    <span id="cell-{{ y }}-{{ x }}">{{ value }}</span>
                {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}

    {% block results %}
        <h1>Results</h1>

        {% for direction, directionResults in results %}
            <h2>{{ direction }}</h2>
            <ul>
                {% for result in directionResults %}
                    <li>{{ result }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endblock %}

{% endblock %}

